.modal{ 
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    justify-content: center;
    z-index: 1; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    text-align: center;
    border: 5px solid black;
  }
  
  .modal-content{
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
  }
  
  .modal-song-name{
    font-family: Helvetica;
    padding: 1em;
  }
  
  .modal-score-color{
    font-size: 30px;
  }
  
  .giphy-image{
    padding: 1em;
  }

  .button-div{
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 70px;
    margin-bottom: 25px;
  }

  .next-Button{
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;;
    background-color: black;
    border-color: black;
    z-index: 1;
    color: white;
    cursor: pointer;
    outline: none;
    font-size: large;
    font-weight: bold;
    transform: skew(-20deg);
}