.test-name, 
.test{
    font-family: Helvetica, sans-serif;
    color: black;
}

.test{
    -webkit-text-stroke: 2px black;
	-webkit-text-fill-color: white;
}

.game-header{
    width: auto;
    font-size: 10vw;
    font-weight: bolder;
    color: #7be382;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  