.meter-container{
    display: flex;
    justify-content: center;
}
  
.meter { 
    margin-top: 25px;
    margin-bottom: 25px;
    width: 580px;
    height: 20px;  /* Can be anything */
    background:white;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
  
.bar{
    display: block;
    width: 580px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: black;
    position: relative;
    overflow: hidden;
}  
  
.question{
    color: black;
    font-family: Helvetica, sans-serif;
}
